[submodule "pi_matrix_code/rpi-rgb-led-matrix"]
	path = pi_matrix_code/rpi-rgb-led-matrix
	url = git@github.com:hzeller/rpi-rgb-led-matrix.git
[submodule "ApartmentFrameworkRust"]
	path = ApartmentFrameworkRust
	url = git@github.com:william-redenbaugh/ApartmentFrameworkRust.git
[submodule "TeensyApartmentIntegrationTesting"]
	path = TeensyApartmentIntegrationTesting
	url = git@github.com:william-redenbaugh/TeensyApartmentIntegrationTesting.git
[submodule "Python-ApartmentFramework-Testing"]
	path = Python-ApartmentFramework-Testing
	url = git@github.com:william-redenbaugh/Python-ApartmentFramework-Testing.git
[submodule "ApartmentProtobuff"]
	path = ApartmentProtobuff
	url = git@github.com:william-redenbaugh/ApartmentProtobuff.git
[submodule "ApartmentFrameworkCPP"]
	path = ApartmentFrameworkCPP
	url = git@github.com:william-redenbaugh/ApartmentFrameworkCPP.git
[submodule "ApartmentFrameworkESP32"]
	path = ApartmentFrameworkESP32
	url = git@github.com:william-redenbaugh/ApartmentFrameworkESP32.git
[submodule "WoodClockESP8266/lib/LiquidCrystal_I2C"]
	path = WoodClockESP8266/lib/LiquidCrystal_I2C
	url = git@github.com:johnrickman/LiquidCrystal_I2C.git
[submodule "WoodClockESP8266/lib/arduino-Max72xxPanel"]
	path = WoodClockESP8266/lib/arduino-Max72xxPanel
	url = git@github.com:markruys/arduino-Max72xxPanel.git
[submodule "WoodClockESP8266/lib/Adafruit-GFX-Library"]
	path = WoodClockESP8266/lib/Adafruit-GFX-Library
	url = git@github.com:william-redenbaugh/Adafruit-GFX-Library.git
